{% extends 'Base/base.html' %}
{% block title %}
Datos de Giros
{% endblock %}
{% block content %}
<div class="scrolling-box">
  <div class="container-fluid">
    <div class="row align-items-start">
      <div class="col-sm" align="center">
        <div class="row" align="center">
        <div class="col-lg-12 col-md col-sm col-xs mt-4">
          <div class="container col-sm text-center">
            <div class="container col-sm text-center mt-5" width="50%">
              <strong><h1>Datos de Giros</h1></strong>
              <div class="row container">
                <a class="btn btn-primary btn-lg" href="{% url 'giros:crear_dato' %}"><i class="fas fa-plus"></i> Dato de giro</a>
              </div>
              {% for message in messages %}
              <div class="alert alert-success mt-5 col-sm-3 text-center">
                <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ message }}
              </div>
              {% endfor %}
              <div class="mt-5" style="background: rgb(255, 255, 255); opacity: 70%; padding: 8px;" align="center">
              <table id="datosTable" class="table table-striped table-dark">
                <thead class="table-dark">
                  <tr>
                    <th scope="col" align="center">Id de dato</th>
                    <th scope="col" align="center">Id de giro</th>
                    <th scope="col" align="center">Id de ratio</th>
                    <th scope="col">Parámetro</th>
                    <th scope="col">Promedio</th>
                    <th scope="col" width="150px">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in object_list%}
                    <tr>
                      <td>{{ row.idDato}}</td>
                      <td>{{ row.idGiro}}</td>
                      <td>{{ row.idRatio}}</td>
                      <td>{{ row.valorParametro}}</td>
                      <td>{{ row.valorPromedio}}</td>
                      <td>
                        <a href="{% url 'giros:modificar_dato' row.pk %}" class="btn-info btn btn-lg">
                          <i class="fas fa-pencil-alt"></i>
                        </a>
                        <button class="btn-danger btn btn-lg" data-toggle='modal' data-target='#deleteModal' data-pk='{{ row.pk }}'>
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">BORRAR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          ¿Desea borrar el dato de giro seleccionado? Esta acción no se podrá deshacer
        </p>
      </div>
      <div class="modal-footer">
        <form id='deleteForm' method="post">
          {% csrf_token %}
          <input type="submit" class="btn btn-danger" value="Aceptar"></input>
        </form>
        <form method="post">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extrajs %}
  <script>
    $('#deleteModal').on('shown.bs.modal', (event) => {
      var btn = $(event.relatedTarget);
      var pk = btn.data('pk');
      $('#deleteForm').attr('action', "{% url 'giros:administrar_datos' %}/" + pk + "/borrar");
    })

    $(document).ready(function() {
    $('#datosTable').DataTable();
} );
  </script>
{% endblock extrajs %}
