{% extends 'Base/base.html' %}
{% block title %}
Estados Financieros
{% endblock %}
{% block content %}
<div style="margin:auto;position:relative;">
    <div style="color:white;text-align:center;margin:30px;">{{conexito}}
        <table class="table">  
            <thead style="background:#e03a3c;color:white;">  
                <tr>  
                    <th>Estados financieros</th>
                </tr>  
            </thead> 
            <tbody>
                {% for balance in ListaBalances%}
                <tr>
                    <td style="background:#DDDDDD">
                        <a href="{% if esGerente %}{% url 'Estados:BalanceGeneral' anio=balance.yearEstado %}{% else %}{% url 'Estados:BalanceGeneral' idempresadmin=idEmpresaActual anio=balance.yearEstado %}{% endif %}">
                        {{balance.idBalance}}. Estado financiero del {{balance.fechaInicioBalance}} al {{balance.fechaFinBalance}} (Año {{balance.yearEstado}})
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <form id='ingresarEstado'  method='post' style="position:relative;padding-top:10px;padding-bottom:10px;" >
        {% csrf_token %}
            <table style="margin:auto">
                <tr>
                    <td>
                    Fecha de Inicio del período del Estado Financiero : 
                    </td>
                    <td>
                    {{formIngresarEstado.fechaInicioBalance}}
                    </td>
                </tr>
                <tr>
                    <td>
                    Fecha de Fin del período del Estado Financiero : 
                    </td>
                    <td>
                    {{formIngresarEstado.fechaFinBalance}}
                    </td>
                </tr>
                <tr>
                    <td>
                    Año del Estado Financiero : 
                    </td>
                    <td>
                    {{formIngresarEstado.yearEstado}}
                    </td>
                </tr>
                <tr>
                    <td>
                    Moneda utilizada en el estado : 
                    </td>
                    <td>
                    {{formIngresarEstado.moneda_codigo_balance}}
                    </td>
                </tr>
                <tr >
                    <td>
                    <button class="btn btn-primary" style="background:#e03a3c;border:#e03a3c" id="submit" type="submit" />Enviar</button>
                    </td>
                </tr>
            </table>
        </form>
        <br>
        <div style="margin:auto;padding-left:30%;padding-right:30%;">Puedes agregar los saldos de las cuentas en un año por medio de un archivo xls.
        
            <form id='uploadForm'  method='post' enctype="multipart/form-data" align="center">
            Ingresa el detalle de un estado financiero aquí:
            {% csrf_token %}
                <div class="col-md-12  p-0" >
                    <input type="file" name="subirEstados" class='form-control'>
                    <button class="btn btn-primary" style="background:#e03a3c;border:#e03a3c" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}