{% extends 'Base/base.html' %}
{% block title %}
Estado de Resultados
{% endblock %}
{% block content %}
<div style="width:100vw;padding-bottom:50px;padding-top:20px;color:white;">
    <div style="position:relative;text-align:center; padding-bottom:20px;">
<!--Para cada una de las relaciones estado-empresa-->

        <h3>{{empresa}}</h3>
    <!--Año del estado de resultado-->
    <div style="position:relative;text-align:center"><h5>Periodo del estado de resultado<br>
        {% for resultado in resultadosAnio %} 
        del {{resultado.fechaInicioEstado}} al {{resultado.fechaFinEstado}}</h5>
        {% endfor %}   
    </div>
</div>
    <div style="position:relative;">
        <table style="border:none; width:100%;">
            <col style="width:34%"/>
            <col style="width:66%"/>
            <tr>
                <!--======Lado izquierdo======-->
                <td style="vertical-align:top;">
                <!--Años que tienen estados de resultado-->
                    <div class="table" style="position:relative;padding-top:-30px;padding-bottom:25px;padding-left:20%;padding-right:20%;">
                        <div class="nav-menu" style="color:white;text-align:center;border:solid 1px white;padding-top:25px;padding-bottom:25px;">
                            <h6><b>Estados de resultado</b></h6><br>
                            {% for resultado in resultadosAnio %}
                            {% for anios in aniosConEstados %} 
                            {% if anios != resultado.yearEstado %}
                            <a href="{% if esGerente %}{% url 'Estados:EstadoResultado' anio=anios %}{% else %}{% url 'Estados:EstadoResultado' idempresadmin=empresa.idEmpresa anio=anios %}{% endif %}"><div style="color:white;padding-bottom:20px">Año {{anios}}</div></a>
                            {% else %}
                            <div style="color: #e03a3c; text-decoration: none; font-size: 15px; font-weight: 600; font-family: 'Raleway', sans-serif;padding-bottom:20px">Año {{anios}}</div>
                            {% endif %}
                            {% endfor %}   
                            {% endfor %}  
                        </div>
                    </div>
                <div align="center">
                <a href="{% if esGerente %}
                {% url 'Estados:nuevoEditarSaldo' tipoCuenta='Estado' accion='Nuevo' %}
                {% else %}
                {% url 'Estados:nuevoEditarSaldo' tipoCuenta='Estado' accion='Nuevo' idempresadmin=empresaid %}
                {% endif %}"><b>Anadir saldo</b></a>
                </div>
                </td>
                <!--======Lado derecho======-->
                <td>
                    <div style="position:relative;height:68vh;overflow:auto;">
                        <table style="width:100%;position:relative;">
                            <colgroup>
                                <col style="width:17%"/>
                                <col style="width:38%"/>
                                <col style="width:25%"/>
                                <col style="width:20%"/>
                            </colgroup>
                            <tr>
                                <th style="text-align:center;padding-right:30px">
                                    <h6><b>Codigo</b></h6>
                                </th>
                                <th style="text-align:center;padding-right:30px">
                                    <h6><b>Cuenta</b></h6>
                                </th>
                                <th>
                                    <h6><b>Saldo</b></h6>
                                </th>
                                <th style="padding-right:30px">
                                    <h6><b></b></h6>
                                </th>
                            </tr>
                            <!--Saldos de las cuentas del estado año actual-->
                            {% for saldo in saldosEstados %} 
                            <tr>
                                <td style="text-align:center;padding-right:30px">
                                    {{saldo.idCuenta.codigo_cuenta}}
                                </td>
                                <td style="text-align:center">
                                    {{saldo.idCuenta.nombre_cuenta}}:  
                                </td>
                                 <td style="text-align:left;">
                                    {{saldo.monto_saldo_Resul}}
                                </td>
                                 <td style="text-align:left;">
                                    <form action="{% if esGerente %}{% url 'Estados:nuevoEditarSaldo' tipoCuenta='Estado' accion='Editar' %}{% else %}{% url 'Estados:nuevoEditarSaldo' tipoCuenta='Estado' accion='Editar' idempresadmin=empresa.idEmpresa %}{% endif %}" method="post">
                                    {% csrf_token %}
                                        <input type="hidden" name="saldoid" value="{{saldo.idSaldoResul}}">
                                        <input type="hidden" name="resultadoid" value="{{resultadosAnio.0.idResultado}}">
                                        <input class="btn btn-primary" type="submit" value="Editar">
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
    <!--Barra de navegacion inferior-->
    <div class="fixed-bottom header-scrolled" style="background: #fff">
        <div class ="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-10 d-flex align-items-right">
                    <div class="nav-menu d-none d-lg-block">
                        <ul>
                            {% for resultado in resultadosAnio %} 
                            <li><a href="{% if esGerente %}{% url 'Estados:BalanceGeneral' anio=resultado.yearEstado %}{% else %}{% url 'Estados:BalanceGeneral' idempresadmin=empresa.idEmpresa anio=resultado.yearEstado %}{% endif %}">Balance General</a></li>
                            {% endfor %} 
                            <li class="active"><div style="color: #e03a3c; text-decoration: none; font-size: 15px; font-weight: 600; font-family: 'Raleway', sans-serif;">Estado de Resultados</div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}