{% extends 'Base/base.html'%}
{% block title %}
Cuenta
{% endblock %}
{% block content %}
<div class="container-fluid scrolling-box ">
  <div class="container" style="background: rgb(43, 44, 43); opacity: 80%; padding: 1px;">
    <h2 style="text-align: center;">Catalogo</h2>
   <div class="col-sm">
     <div class="row container">
     <button onclick="abrir_modal_add('{%url 'Empresa:nueva_cuenta' empresa %} ')" class="btn btn-primary btn-lg " style="margin: 2%;" ><i class="fas fa-plus"></i> Agregar cuenta</button>
     <button onclick="abrir_modal_add('{%url 'Empresa:importar_cuenta' empresa %} ')" class="btn btn-success btn-lg "style="margin: 2%;" ><i class="fas fa-file-upload"></i> Archivo</button>
      </div>
       <br>
       <div class="row container text-center">
        {% for message in messages %}
        <div class="alert alert-success text-center">
          <a class="close" href="#" data-dismiss="alert">×</a>
            {{ message }}
        </div>
      {% endfor %}
         <table class="table table-striped table-dark table-sm">
           <thead class="table-dark">
             <tr>
               <th scope="col">Codigo</th>
               <th scope="col">Nombre de Cuenta</th>
               <th scope="col">Tipo</th>
               <th scope="col">Narutaleza</th>
               <th scope="col">Actividad</th>
             </tr>
           </thead>
           <tbody>
             {% for row in cuentas%}
             <tr>
               <td>{{row.codigo_cuenta}}</td>
               <td>{{ row.nombre_cuenta}}</td>
               <td>{{ row.tipo_cuenta}}</td>
               <td>{{ row.naturaleza_cuenta}}</td>
               <td>
                 <a href="{% url 'Empresa:editar_cuenta' row.idCuenta empresa%}" class="btn-info btn btn-lg" style="margin: 1%;">
                   <i class="fas fa-edit"></i>
                 </a>
                 <button class="btn-danger btn btn-lg" data-toggle='modal' data-target='#deleteModal' data-pk='{{ row.pk }}' style="margin: 1%;">
                   <i class="fas fa-trash-alt"></i>
                 </button>
               </td>
             </tr>
             {% endfor %}
           </tbody>
         </table>
       </div>
     </div>
   </div>
 </div>
 <!-- modal del borrado-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="ModalLabel">BORRAR</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <p>
         ¿Desea borrar la cuenta seleccionada? Esta acción no se podrá deshacer
       </p>
     </div>
     <div class="modal-footer">
       <form id='deleteForm' method="post">
         {% csrf_token %}
         <input type="submit" class="btn btn-danger" value="Aceptar"></input>
       </form>
       <form method="post">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
       </form>
     </div>
   </div>
 </div>
</div>

<!--modal de agregar cuenta-->
<div class="modal fade" id="addModal" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">

</div>


 {% endblock %}
 {% block extrajs %}
 <script type="text/javascript">
       $('#deleteModal').on('shown.bs.modal', (event) => {
          var btn = $(event.relatedTarget);
          var pk = btn.data('pk');
        $('#deleteForm').attr('action', "{% url 'Empresa:cuentas' empresa %}/" + pk + "/borrar");
        })


       function abrir_modal_add(url){
         $('#addModal').load(url,function(){
           $(this).modal('show');
         })}
     </script>
{%endblock%}