{% extends 'Base/base.html'%}
{% block content %}
<div class="container">
    <div class="row mt-3" >
      <div class="col-md-9 mx-auto">
        <div>
					<h2 style="text-align: center;">Editar Cuenta</h2>
					<form method="POST">
						{% csrf_token %}
            {{ form.errors }}
            <div class="row">
							<div class="col-md-10 col-md-offset-2">
								<div class="form-group" style="width: 25%;">
									<label style="color: white;">Empresa</label>
									{{ form.idEmpresa }}
								</div>
							</div>
						</div>
                        <div class="row">
							<div class="col-md-10 col-md-offset-2">
								<div class="form-group" style="width: 50%;">
									<label style="color: white;">Codigo de Cuenta</label>
									{{ form.codigo_cuenta }}
								</div>
							</div>
                        </div>
            <div class="row">
							<div class="col-md-10 col-md-offset-2">
								<div class="form-group" style="width: 50%;">
									<label style="color: white;" >Cuenta</label>
									{{ form.nombre_cuenta }}
								</div>
							</div>
                        </div>
            <div class="row">
							<div class="col-md-10 col-md-offset-2">
								<div class="form-group" style="width: 50%;">
									<label style="color: white;" >Naturaleza</label>
									{{ form.naturaleza_cuenta }}
								</div>
							</div>
                        </div>
            <div class="row">
							<div class="col-md-10 col-md-offset-2">
								<div class="form-group" style="width: 50%;">
									<label style="color: white;" >Tipo de cuenta</label>
									{{ form.tipo_cuenta }}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-10 col-md-offset-2">
								<div class="form-group" style="width: 50%;">
									<label style="color: white;" >Razon</label>
									{{ form.idSobreNombre}}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-10 col-md-offset-2">
								<div align= "left" class="btn_crear mb-3">
									<button class="btn btn-primary btn-lg" type="submit"><i class="fas fa-save"></i> Guardar</button>
                  <a type="button" class="btn btn-secondary btn-lg" href="javascript:window.history.back();"><i class="fas fa-times-circle"></i> Cancelar</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock%}
