{% extends 'Base/base.html' %}
{% block title %}
Opciones
{% endblock %}
{% block content %}
<div class="scrolling-box">
  <div class="container-fluid">
    <div class="row align-items-start">
      <div class="col-sm" align="center">
        <div class="mt-5 col-lg-8" align="center">
          <strong><h1>Opciones</h1></strong>
          <div class="row container col-sm text-center" width="50%">
            <div class="row container">
              <a class="btn btn-primary btn-lg" href="{% url 'Usuarios:CrearOpcion' %}"><i class="fas fa-plus"></i> Opción</a>
            </div>
            {% for message in messages %}
            <div class="alert alert-success mt-5 col-sm-3 text-center">
              <a class="close" href="#" data-dismiss="alert">×</a>
              {{ message }}
            </div>
            {% endfor %}
            <table class="table table-striped table-dark table-sm">
              <thead class="table-dark">
                <tr>
                  <th scope="col" align="center">Id</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Formulario</th>
                  <th scope="col" width="150px">Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for row in opf %}
                <tr>
                  <td>{{ row.idOpcion}}</td>
                  <td>{{ row.descOpcion}}</td>
                  <td>{{ row.numForm}}</td>
                  <td>
                    <a href="{% url 'Usuarios:ModificarOpcion' row.pk %}" class="btn-info btn btn-lg">
                      <i class="fas fa-pencil-alt"></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
