{% extends 'Base/base.html' %}
{% block title %}
Análisis Financiero
{% endblock %}
{% block content %}
<div style="background:white;position:relative;">
{% for anio in listaAnios %}
    {{anio}}<br/>
{% endfor %}
</div>
<table style="border:none; width:100%;">
    <col style="width:66%"/>
    <col style="width:34%"/>
    <tr>
        <!--lado izquierdo con lista de analisis-->
        <td>
            <div style="width:100%; height:87vh; overflow:auto; position:relative;background:white;">
            <table class="table table-light" style="width:100%;">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead class="table-light">
                    <tr>
                        <th scope="col">Cuentas</th>
                        <th scope="col">Año referencia</th>
                        <th scope="col">Año anterior</th>
                        <th scope="col">Variación</th>
                        <th scope="col">Porcentaje</th>
                    </tr>
                </thead>
                <tbody style="padding-top:26px;">
                    {% for linea in detallesAnalisis %}
                        {% for analisis in listaAnalisis %}
                    <tr>
                            {% if linea.idAnalisis.idAnalisis == analisis.idAnalisis %}
                        <td>{{linea.idCuenta.codigo_cuenta}}</td>
                        <td>{{analisis.year_analisis}}</td>
                        <td>{{analisis.year_previos}}</td>
                        <td>{{linea.variacion_horizontal}}</td>
                        <td>{{linea.porcentaje_horizontal}}</td>
                            {% endif %}
                    </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </td>
        <!--lado derecho con las conclusiones-->
        <td></td>
    </tr>
</table>
    <div></div><div></div>
<div class="fixed-bottom header-scrolled" style="background: #fff">
        <div class ="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-10 d-flex align-items-right">
                    <div class="nav-menu d-none d-lg-block">
                        <ul>                            
                            <li class="active"><a href="#header">Análisis Horizontal</a></li>
                            <li><a href="{% url 'Analisis:AnalisisHorizontal' empresa=1 %}">Análisis Vertical</a></li>
                            <li><a href="{% url 'Analisis:AnalisisHorizontal' empresa=1 %}">Razones financieras</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
