{% extends 'Base/base.html' %}
{% block title %}
Análisis Financiero
{% endblock %}
{% block content %}
<div style="background:white;position:relative;">{{mensaje}}
</div>
<table style="border:none; width:100%;">
    <col style="width:66%"/>
    <col style="width:34%"/>
    <tr>
        <!--lado izquierdo con lista de analisis-->
        <td align="center">
            <div style="width:100%; height:87vh; overflow:auto; position:relative;background:white;">
            <table class="table table-light" style="width:100%;">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead class="table-light">
                    <tr align="center">
                        <th scope="col">Cuentas</th>
                        <th scope="col">Valor {{Analisis.year_analisis}}</th>
                        <th scope="col">Valor {{Analisis.year_previos}}</th>
                        <th scope="col">Variación</th>
                        <th scope="col">Porcentaje</th>
                    </tr>
                </thead>
                <tbody style="padding-top:26px;">
                    {% for linea in detallesAnalisis %}
                    <tr>
                        <td align="center">{{linea.2.idCuenta.codigo_cuenta}}</td>
                        <td align="center">{{linea.1.monto_saldo}}</td>
                        <td align="center">{{linea.0.monto_saldo}}</td>
                        <td align="center">{{linea.2.variacion_horizontal}}</td>
                        <td align="center">{{linea.2.porcentaje_horizontal}}</td>
                    </tr>
                    {% endfor %}
                    {% for linea in detallesAnalisis2 %}
                    <tr>
                        <td align="center">{{linea.2.idCuenta.codigo_cuenta}}</td>
                        <td align="center">{{linea.1.monto_saldo_Resul}}</td>
                        <td align="center">{{linea.0.monto_saldo_Resul}}</td>
                        <td align="center">{{linea.2.variacion_horizontal}}</td>
                        <td align="center">{{linea.2.porcentaje_horizontal}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </td>
        <!--lado derecho con las conclusiones-->
        <td align="center">
            <form class="areaConclusion" id='uploadForm'  method='post' enctype="multipart/form-data">
            {% csrf_token %}
                <input id="idanalisis" type="hidden" name="analisis" value="{{Analisis.idAnalisis}}">
                <textarea id="conclusionH" name="conclusion" rows="15" cols="35" style="position:relative;">{{Analisis.conclusion_horizontal}}</textarea><br><br>
                <input type="submit" name="botonConclusion" value="Guardar" style="position:relative;"/>
            </form>
        </td>
    </tr>
</table>
    <div></div><div></div>
<div class="fixed-bottom header-scrolled" style="background: #fff">
        <div class ="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-10 d-flex align-items-right">
                    <div class="nav-menu d-none d-lg-block">
                        <ul>
                            <li>
                                <form action="{% url 'Analisis:OverView' %}" method="post"> {% csrf_token %}
                                    <input id="empresa" type="hidden" name="empresa" value="{{empresaActual}}">
                                    <input id="anioA" type="hidden" name="year" value="{{year}}">
                                    <button class="pseudolinkbutton" type="submit">OverView</button>
                                </form>
                            </li>
                            <li class="active"><a href="#header">Análisis Horizontal</a></li>
                            <li><a href="{% if esGerente %}{% url 'Analisis:AnalisisVertical' anio=year %}{% else %}{% url 'Analisis:AnalisisVertical' idempresadmin=empresaActual anio=year %}{% endif %}">Análisis Vertical</a></li>
                            <li><a href="{% if esGerente %}{% url 'Analisis:Razones' anio=year %}{% else %}{% url 'Analisis:Razones' idempresadmin=empresaActual anio=year %}{% endif %}">Razones financieras</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
