{% extends 'Base/base.html' %}
{% block title %}
Razones financiero
{% endblock %}
{% block content %}
<div style="background:white;position:relative;">{{mensaje}}
</div>
<div class="container-fluid">
    <div class="row align-items-start">
     <div class="col-sm" align="center">
       <div class="mt-5 col-lg-11" align="center">
       <strong><h1>Razones financieras</h1></strong>
         <br>
         <div class="row container text-center">
           <table class="table table-striped table-bordered table-dark table-sm">
             <thead class="thead-dark">
               <tr>
                 <th scope="col" align="center" width="30%">Ratio</th>
                 <th scope="col">Valor</th>
                 <th scope="col">Conclusion</th>
                 <th scope="col"width="10%">Accion</th>
               </tr>
             </thead>
             <tbody>
               {% for row in resultado %}
               <tr>
                 <td>{{row.idRatios}}</td>
                 <td>{{ row.valorRatiosAnalisis}}</td>
                 <td>{{ row.conclusion}}</td>
                 <td>
                   <button onclick="abrir_modal_add('{% url 'Analisis:Editar_Conclusion' anali=row.idRatioAnalisis anio=year idempresadmin=empresaActual %}')" class="btn-info btn btn-lg" style="margin: 1%;">
                     <i class="fas fa-edit"></i>
                   </button>
                 </td>
               </tr>
               {% endfor %}
             </tbody>
           </table>
         </div>
       </div>
     </div>
     </div>
   </div>

<div class="fixed-bottom header-scrolled" style="background: #fff">
        <div class ="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-10 d-flex align-items-right">
                    <div class="nav-menu d-none d-lg-block">
                        <ul>
                            <li>
                                <form action="{% url 'Analisis:OverView' %}" method="post"> {% csrf_token %}
                                    <input id="empresa" type="hidden" name="empresa" value="{{empresaActual}}">
                                    <input id="anio" type="hidden" name="year" value="{{year}}">
                                    <button class="pseudolinkbutton" type="submit">OverView</button>
                                </form>
                            </li>
                            <li><a href="{% if esGerente %}{% url 'Analisis:AnalisisHorizontal' anio=year %}{% else %}{% url 'Analisis:AnalisisHorizontal' idempresadmin=empresaActual anio=year %}{% endif %}">Análisis Horizontal</a></li>
                            <li><a href="{% if esGerente %}{% url 'Analisis:AnalisisVertical' anio=year %}{% else %}{% url 'Analisis:AnalisisVertical' idempresadmin=empresaActual anio=year %}{% endif %}">Análisis Vertical</a></li>
                            <li class="active"><a href="#header">Razones Financieras</a></li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ediModal" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">

    </div>

{% endblock%}
{% block extrajs %}
 <script type="text/javascript">
       function abrir_modal_add(url){
         $('#ediModal').load(url,function(){
           $(this).modal('show');
         })}
  </script>
{%endblock%}