{% extends 'base/base.html' %}
{% block title %}
Análisis
{% endblock %}
{% block content %}
<div class="container  mt-12">
    <div class="row justify-content-center" align="center">
      <div class="container mt-5" align="center">
        <section id="services" class="services section-bg" style=" width:400px">
          <div class="container" data-aos="fade-up">
            <div class="section-title">
              {% if request.user.rol == 1 or request.user.rol == 2 %}
              <h2>Proporcione los datos</h2>
              <div class="mt-3 row justify-content-center">
              <form class="mt-3" action="{% url 'Analisis:OverView' %}" method="post"> {% csrf_token %}
                <div class="col-12" align="center">
                <select class="form-control" id="empresa" name="empresa" required="true">
                  <option value="">Seleccione una empresa</option>
                  {% for i in emp %}
                  <option value="{{ i.idEmpresa }}">{{ i.rasonsocial }}</option>
                  {% endfor %}
                </select>
                <input id="anioA" class="form-control" type="number" name="year" value="" placeholder="Escriba un año">
                <button style="background:#000000" class="form-control mt-3" type="submit">OverView</button>
                </div>
              </form>
              </div>
              {% endif %}
              {% if request.user.rol == 3 %}
              <h2>Proporcione el año que desea consultar</h2>
              <div class="mt-3 row justify-content-center">
              <form class="mt-3" action="{% url 'Analisis:OverView' %}" method="post"> {% csrf_token %}
                <div class="col-12" align="center">
                  {% for i in emp %}
                    {% if i.gerente == request.user.id %}
                    <input class="form-control" type="hidden" name="empresa" value="{{ i.idEmpresa }}">
                    {% endif %}
                  {% endfor %}
                <input id="anioA" class="form-control" type="number" name="year" value="" placeholder="Escriba un año">
                <button style="background:#000000" class="form-control mt-3" type="submit">OverView</button>
                </div>
              </form>
              </div>
              {% endif %}
            </div>
          </div>
        </section>
      </div>
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script>
  var anioActual = (new Date()).getFullYear();
  document.getElementById("anioA").value = anioActual;
</script>
{% endblock extrajs %}
